<div
  class="container mt-5 d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="title">{{errorMsg}}</h1>
  <div
    class="d-flex align-items-center my-3 w-50"
    style="background-image: url('https://source.unsplash.com/sxiSod0tyYQ'); background-size: cover; height: 20rem;"
  >
  </div>
  <a href="/" class="btn btn-secondary mt-3">Back</a>
</div>