<form
  action="/"
  class="d-flex flex-column justify-content-center align-items-center"
  style="width: 20rem"
>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Input URL here"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
    />
  </div>
  <button
    type="button"
    class="btn btn-outline-primary"
    style="width:10rem"
  >Shorten</button>
</form>